body {
background-image: url(../img/fon.jpg);
background-size: cover;
background-repeat: no-repeat;
height:1010px;
width: 1800px;
background-attachment: scroll;  
}

.login{
background-image: url(../img/login.png);
width:200px;
position:absolute;
top:66%;
left:36%;
text-decoration: none;
text-align: center;
color: white;
line-height: 70px;
box-shadow: 0 0 5px #666;
border-radius: 4px;
}

.registr{
background-image: url(../img/registr.png);
width:200px;
position:absolute;
top:66%;
right: 36%;
text-decoration: none;
text-align: center;
color: white;
line-height: 70px;
box-shadow: 0 0 5px #666;
border-radius: 4px;
}


