body{
background-image: url(../img/fonblack.jpg);
background-size: cover;
background-repeat: no-repeat;
height:1010px;
width: 1800px;
background-attachment: scroll;

}

.mlog{
background-image: url(../img/mlog.jpg);
background-repeat: no-repeat;
position:absolute;
width:900px;
height: 808px;
top: 151px;
left: 486px;
}

.login2 {
position:absolute;
top: 360px;
left: 180px;
width: 450px;
height: 30px;
}

.key2 {
position:absolute;
top: 432px;
left: 180px;
width: 450px;
height: 30px;
}

#login-button {
position:absolute;
top: 504px;
left: 180px;
width: 468px;
background-image: url(../img/login.png);
height: 40px;
border-radius: 5px;
font-weight: bold;
color: white;
text-decoration: none;
text-align: center;
line-height: 40px;
}

.fail2{
position:absolute;
top: 544px;
left: 180px;
width: 468px;
text-align: right;
line-height: 40px;
}

.reklama1{
position: absolute;
left: 225px;
top:136px;
text-align: center;
font-weight: bold;
font-size: 35px;
}

.reklama2{
position: absolute;
left: 252px;
top:200px;
text-align: center;
font-weight: bold;
font-size: 35px;
}

.reklama3{
position: absolute;
left: 279px;
top:600px;
text-align: center;
font-weight: bold;
font-size: 35px;
}
