body {
background-image: url(../img/auth.jpg);
background-size: cover;
background-repeat: no-repeat;
height:1010px;
width: 1800px;
background-attachment: scroll;
}

#logout-link{
text-decoration: none;
position: absolute;
margin: -80px 0 0 1680px;
font-size: 25px;
color: white;
font-weight: bold;
}

#my-profile-link{
text-decoration: none;
position: absolute;
margin: -80px 0 0 1440px;
font-size: 25px;
color: white;
font-weight: bold;
}

.avatarblock{
background-color: #ececec;
height:495px;
width: 340px;
margin: 0px 0 0 0;
}

.bio{
margin: 110px 400px 0 400px;
}


.image {
position: absolute;
background-size: 300px 300px;
background-color: #fff;
height:300px;
width: 300px;
margin: 20px 20px 0px 20px;
border-radius: 5px;
}

#users-link{
text-decoration: none;
position: absolute;
margin: -80px 0 0 1300px;
font-size: 25px;
color: white;
font-weight: bold;
}

#profile-info-container{
background-color: #ececec;
height:475px;
width: 790px;
position: absolute;
margin: -495px 0 0 360px;
padding: 20px 0 0 20px;
font-size: 18px;
font-weight: bold;
color: #7a8cb4;
}

#post-forms-container{
background-color: #ececec;
height: 190px;
width: 800px;
margin: 20px 0 0 0px;
padding: 10px 0 10px 10px;
}

#theme{
width: 700px;
margin-left: 35px;
}

.text-content{
width: 700px;
margin-left: 35px;
height: 40px;
}

#is_private{
margin: 5px 0 0 45px;
}

#post-button{
position: absolute;
background-color: #d2d8e6;
height: 40px;
width: 150px;
margin: -32px 600px;
text-align: center;
border-radius: 5px;
line-height: 40px;
font-size: 15px;
font-weight: bold;
color: #7a8cb4;
border: none;
outline: none;
}


#report-container{
position: absolute;
background-color: #ececec;
height:205px;
width: 300px;
margin: -210px 0 0 830px;
padding: 5px 20px 0 20px;
}

.text-report{
text-align: center;
font-size: 18px;
font-weight: bold;
color: #7a8cb4;
}

#privateKey{
width: 285px;
}


#postId{
width: 285px;
}

#report-button{
background-color: #d2d8e6;
width: 300px;
height: 40px;
margin-top: -5px;
text-align: center;
border-radius: 5px;
line-height: 35px;
font-size: 15px;
font-weight: bold;
color: #7a8cb4;
border: none;
outline: none;
}

#avatar-container{
background-color: #ececec;
height:170px;
width: 300px;
margin: 0px 0 0 0px;
padding: 315px 20px 0 20px;
}

.avatar-text{
text-align: center;
font-size: 18px;
font-weight: bold;
color: #7a8cb4;
}

#avatar-file{
background-color: #d2d8e6;
width: 300px;
height: 40px;
margin-top: -5px;
text-align: center;
border-radius: 5px;
line-height: 35px;
font-size: 15px;
font-weight: bold;
color: #7a8cb4;
border: none;
outline: none;
}

#avatar-button{
background-color: #d2d8e6;
width: 300px;
height: 40px;
margin-top: -5px;
text-align: center;
border-radius: 5px;
line-height: 35px;
font-size: 15px;
font-weight: bold;
color: #7a8cb4;
border: none;
outline: none;

}

#privateKey-container{
position: absolute;
background-color: #ececec;
height:205px;
width: 300px;
margin: -210px 0 0 830px;
padding: 5px 20px 0 20px;
}

.text-privateKey{
text-align: center;
font-size: 18px;
font-weight: bold;
color: #7a8cb4;
}

#privateKey-button{
background-color: #d2d8e6;
width: 300px;
height: 40px;
margin-top: 0px;
text-align: center;
border-radius: 5px;
line-height: 35px;
font-size: 15px;
font-weight: bold;
color: #7a8cb4;
border: none;
outline: none;
}


#post-private-container{
background-color: #ececec;
height: 100%;
width: 800px;
margin: 20px 0 0 0px;
padding: 10px 0 5px 10px;
}

.text-token{
text-align: center;
font-size: 18px;
font-weight: bold;
color: #7a8cb4;
}

.tokenidid{
margin: 0px 0 0 275px;
}

#post-private-button{
background-color: #d2d8e6;
height: 40px;
width: 245px;
margin: 0px 0 0 275px;
text-align: center;
border-radius: 5px;
line-height: 40px;
font-size: 15px;
font-weight: bold;
color: #7a8cb4;
border: none;
outline: none;
}

#read-post-container{
background-color: #ececec;
height: 100%;
width: 1160px;
margin: 20px 0 0 0px;
padding: 10px 0 5px 10px;
}

.text-privat{
font-size: 18px;
font-weight: bold;
color: #7a8cb4;
}


#read-post-button{
background-color: #d2d8e6;
height: 40px;
width: 245px;
text-align: center;
border-radius: 5px;
line-height: 40px;
font-size: 15px;
font-weight: bold;
color: #7a8cb4;
border: none;
outline: none;
}

#table-posts{
background-color: #ececec;
height: 100%;
width: 1160px;
margin: 20px 0 0 0px;
padding: 10px 0 5px 10px;
}

table{
border: 1px solid #757575;
}

th{
border: 1px solid #757575;
}

td{
border: 1px solid #757575;
}

tr{
border: 1px solid #757575;
}
/*#signature{
position: absolute;
margin: -45px 0 0 280px;
}*/

table{
border: 1px solid #757575;
border-collapse: collapse;
margin-bottom: 20px;

}

th {
  font-size: 15px;
  font-weight: bold;
  background: #d2d8e6;
  border: 1px solid #757575;
  color: #7a8cb4;
  padding: 7px;
}

td:first-child{
font-weight: bold;
}

td{
border: 1px solid #757575;
padding: 7px;
}

tr:hover td {
  background: #d2d8e6;
}


