body{
background-image: url(../img/fonblack.jpg);
background-size: cover;
background-repeat: no-repeat;
height:1010px;
width: 1800px;
background-attachment: scroll;  

}

.mreg{
background-image: url(../img/mreg.png);
background-repeat: no-repeat;
position: absolute;
width:900px;
height: 808px;
top: 151px;
left: 486px;
}

.login1 {
position: absolute;
top: 364px;
left: 180px;
width: 450px;
height: 30px;
}

.key {
position: absolute;
top: 436px;
left: 180px;
width: 450px;
height: 30px;
}

.dark{
position: absolute;
top: 504px;
left: 180px;
width: 468px;
background-image: url(../img/registr.png);
height: 40px;
border-radius: 5px;
font-weight: bold;
color: white; 
font-size: 17px;
}

.log{
position: absolute;
top: 608px;
left: 180px;
width: 468px;
background-image: url(../img/login.png);
height: 40px;
border-radius: 5px;
font-weight: bold;
color: white; 
text-decoration: none;
text-align: center;
line-height: 40px;
}

.fail{
position: absolute;
top: 540px;
left: 180px;
width: 468px;
text-align: right;
line-height: 40px;
}

.yourid{
position: absolute;
text-align: center;
left: 180px;
top: 675px;
font-weight: bold;
color: #5e75a7; 
}

.textreg{
position: absolute;
left: 130px;
top:121px;
text-align: center;
}

.hello{
font-weight: bold;
}

