body {
background-image: url(../img/auth.jpg);
background-size: cover;
background-repeat: no-repeat;
height:1010px;
width: 1800px;
background-attachment: scroll;
}

#logout-link{
text-decoration: none;
position: absolute;
margin: -80px 0 0 1680px;
font-size: 25px;
color: white;
font-weight: bold;
}

#my-profile-link{
text-decoration: none;
position: absolute;
margin: -80px 0 0 1440px;
font-size: 25px;
color: white;
font-weight: bold;
}

.user-data{
margin-left: 400px;
width: 1115px;
}

#limit-container{
background-color: #ececec;
height: 100%;
width: 1100px;
margin: 110px 0 0 0px;
padding: 5px 5px 10px 10px;
}

.text-limit-containir{
font-size: 18px;
font-weight: bold;
color: #7a8cb4;
}

#limit-button{
text-decoration: none;
position: absolute;
margin: -81px 0 0 990px;
font-size: 25px;
color: white;
font-weight: bold;
background: transparent;
font-family: tahoma;
text-align: center;
border: none;
outline: none;
}

.friends{
width: 1115px;
}

.friends p{
position: center;
font-size: 16px;
font-weight: bold;
color: #7a8cb4;
}

.friends input[type="submit"]{
background-color: #d2d8e6;
height: 35px;
width: 360px;
margin: -5px 0 0 0px;
text-align: center;
border-radius: 5px;
line-height: 30px;
font-size: 15px;
font-weight: bold;
color: #7a8cb4;
border: none;
outline: none;
}

.friends input[type="text"]{
width: 345px;

}

#friend-tokens-button{
text-decoration: none;
position: absolute;
margin: -81px 0 0 1140px;
font-size: 25px;
color: white;
font-weight: bold;
background: transparent;
font-family: tahoma;
text-align: center;
border: none;
outline: none;
}


#challenge-solve-container{
position: absolute;
background-color: #ececec;
height: 270px;
width: 530px;
margin: 0px 0 0 0px;
padding: 5px 5px 10px 10px;
}

#put-challenge-container{
background-color: #ececec;
height: 270px;
width: 530px;
margin: 20px 0 0 568px;
padding: 5px 5px 10px 10px;
}

#delete-token-container{
background-color: #ececec;
height: 250px;
width: 343px;
margin: 20px 0 0 755px;
padding: 5px 5px 10px 10px;
}

#friends-tokens-container{
background-color: #ececec;
height: 100%;
width: 1100px;
margin: 20px 0 0 0px;
padding: 5px 0px 10px 10px;
}

.text-friends-tokens-container{
font-size: 18px;
font-weight: bold;
color: #7a8cb4;
}

#friends-tokens-button{
background-color: #d2d8e6;
height: 35px;
width: 245px;
margin: -5px 0 0 0px;
text-align: center;
border-radius: 5px;
line-height: 30px;
font-size: 15px;
font-weight: bold;
color: #7a8cb4;
border: none;
outline: none;
}

.tmp div[class="container"]{
background-color: #ececec;
height: 100%;
width: 1102px;
margin: 20px 0 0 0px;
padding: 5px 0px 10px 10px;
}

.tmp div>p {
font-size: 18px;
font-weight: bold;
color: #7a8cb4;
}

#token_for_challenge{
height: 25px;
}

.tmp input[type="submit"]{
background-color: #d2d8e6;
position: absolute;
height: 35px;
width: 245px;
margin: -54px 0 0 260px;
text-align: center;
border-radius: 5px;
line-height: 30px;
font-size: 15px;
font-weight: bold;
color: #7a8cb4;
border: none;
outline: none;
}

table{
border: 1px solid #757575;
border-collapse: collapse;
margin-bottom: 20px;

}

th {
  font-size: 15px;
  font-weight: bold;
  background: #d2d8e6;
  border: 1px solid #757575;
  color: #7a8cb4;
  padding: 7px;
}

td:first-child{
font-weight: bold;
}

td{
border: 1px solid #757575;
padding: 7px;
}

tr:hover td {
  background: #d2d8e6;
}


.abc{
font-size: 18px;
font-weight: bold;
color: #7a8cb4;
}
